@model ESY_MVC.Models.Product

<h2>Izdzēst preci</h2>

<h3>Vai esat pārliecināts, ka vēlaties dzēst preci?</h3>
<div class="table-responsive" style="margin-bottom: 40px">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Preces ID</th>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <th>Preces nosaukums</th>
                <td>@Model.ProductName</td>
            </tr>
            <tr>
                <th>Vienību skaits</th>
                <td>@Model.UnitCount</td>
            </tr>
            <tr>
                <th>Cena par vienu vienību</th>
                <td>@Model.PricePerUnit</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <form asp-action="DeleteConfirmed" asp-route-id="@Model.Id" method="post">
        @Html.AntiForgeryToken()
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
